#lobby {
    display: none;
    width: 100%;
    height: calc(100vh - 4.2vw);
    background-image: url('../media/images/lobby.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.player-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12vw;
    width: 33.333%
}

.player-panel:nth-child(2) {
    box-shadow: 0 0 50px black;
}

.add-player {
    height: 4vw;
    width: 4vw;
    color: white;
    background-color: transparent;
    border: 0.35vw solid white;
    transform: rotate(45deg);
    box-sizing: border-box;
}

.add-player::before, .add-player::after {
    content: "";
    box-sizing: border-box;
    display: block;
    width: 80%;
    height: 0.1vw;
    background-color: white;
}

.add-player::before {
    transform: rotate(45deg);
}

.add-player::after {
    transform: rotate(-45deg);
}

#ready {
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    text-transform: uppercase;
    width: 20vw;
    height: auto;
    cursor: pointer;
}

.player-name {
    text-shadow: 0 0 50px black;
    color: yellow;
    text-transform: uppercase;
    font-size: 3vw;
}